/* GENERICS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid yellow; */
}

body {
    font-family: sans-serif;
    font-size: 16px;

}

/* flex-box */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    display: flex;
}

/* header */
header {
    width: auto;
    background-color: #ff6900;
    color: white;
    padding: 10px;
}

.container > div a  {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.container {
    justify-content: space-between;
    margin: 0px 120px;
    align-items: center;
}

.logo {
    width: 120px;
}

.red {
    color: red;
}

/* main */
section {
    height: auto;
    flex-wrap: wrap;
    margin: 20px 100px;
    
}

.card {
    width: calc(100% / 3 - 40px);
    padding: 10px;
    margin: 20px 20px;
    flex-shrink: 1;
}

img {
   width: 100% ; 
}

h1 {
    font-size: 15px;
}

.card > p {
    font-size: 13px;
    position: relative;
}

span {
    font-size: 13px;
}

.heart {
    background-color: white;
    width: 40px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 587px;
    text-align: center;
    left: 335px;
    font-size: 40px;
    
}


.price {
    background-color: red;
    padding: 5px 10px;
}

.green {
    background-color: green;
    padding: 5px;
}

.price-green {
    color: white;
    font-size: 10px;
    position: relative;
    bottom: 148px;
    

}

/* footer */
footer {
    width: auto;background-color: black;
    color: white;
    

}

.foot-container {
    justify-content: space-between;
    padding: 10px;
    margin: 0px 120px;
}

.foot-container > div h2 {
    font-size: 14px;
    padding-bottom: 5px;
}

.foot-container > div a {
    font-size: 10px;
    text-decoration: none;
    color: white;
}