/* GENERICS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid yellow;
}

body {
    font-family: sans-serif;
    font-size: 16px;

}

/* flex-box */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    display: flex;
}

/* header */
header {
    width: auto;
    background-color: #ff6900;
    color: white;
    padding: 10px;
}

.container > div {
    width: calc(100% / 3 );
    text-align: center;
}

a  {
    text-decoration: none;
    color: white;
}

.container {
    justify-content: space-evenly;
}

.red {
    color: red;
}

/* main */
section {
    background-color: blue;
    height: auto;
    flex-wrap: wrap;
    
}

.card {
    width: calc(100% / 3 - 40px);
    padding: 10px;
    margin: 20px 20px;
    flex-shrink: 1;
}

img {
   width: 100% ; 
}

/* footer */
footer {
    width: auto;background-color: black;
    color: white;

}

.foot-container {
    justify-content: space-between;
    
}